body, h1, p {
  margin: 0px;
  padding: 0px;
}
.header-group {
  top: 0px;
}
.header {
  height: auto;
  background-color: #484848;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  box-shadow: 0px 0px 10px black;
  position: sticky;
  top: 0px;
}
.header-title {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 4vh;
}
/* Navigation bar */

.nav-bar {
	height: auto;
	background-color: #292929;
  box-shadow: 0px 0px 10px black
}
.nav-buttons {
	display: block;
}
.nav-button {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	height: auto;
	text-align: center;
	width: 9%;
	height: auto;
}
.nav-button:hover{
	background-image: black;
}
.nav-button:active {
	background-color:lightblue ;
}
.nav-button-name {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1vw;
}
a {
	text-decoration: none;
}
/* Dropdown in navigation bar */
.dropdown {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	height: auto;
	text-align: center;
	width: 9%;
	height: auto;
}
.dropdown-button-name {
	font-size: 1vw;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
}
.dropdown-content {
	/* Change display to none for production */
	display: none;
	position: absolute;
	width: 9%;
}
.dropdown-content a {
	font-size: 1vw;
	color: white;
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	
}
/* Dropdown functions */
.dropdown-content-selection{
	background: #292929;
}
.dropdown-content-selection:hover {
	background-color: aqua;
}
.dropdown-content a:hover {
	color: black;
}


.dropdown:hover {
	background-color: aqua;
}
.dropdown:hover .dropdown-button-name {
	color: black;
}
.dropdown:hover .dropdown-content{
	display: block;
}

@media only screen and (max-width:1024px){
	.nav-bar{
		text-align: center;
	}
	.nav-button {
		width: 33%
	}
	.nav-button-name{
		font-size: 4vw
	}
	.dropdown{
		width: 30%;
	}
	.dropdown-button-name{
		font-size: 4vw;
	}
	.dropdown-content {
		width: 30%;
	}
	.dropdown-content a{
		font-size: 4vw;
	}
}
.main-body {
  background-color: #2E2E2E;
  height: 100vh;
  display: block;
  overflow: auto;
}
.about-us-paragraph {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: block;
  width: 75vw;
  margin: auto;
  padding: 7vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  text-align: justify;
  line-height: 50px;
}
.contact-div {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 75vw;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 9vh;
  padding-right: 9vh;
  padding-bottom: 9vh;
}
.contact-header {
  font-size: 40px;
  margin-top: 0px;
}
.contact-info {
  font-size: 19px;
  margin-top:30px;
}


.footer {
	display: block;
	height: 100px;
	width: 100%;
	background-color: #292929;
	position: absolute;
	text-align: center;
	box-shadow: 0px 0px 10px black;
}
.logo-row {
	word-spacing: 25px;
	position: relative;
	top: 24px;
}
.social-image {
	width: auto;
	height: auto;
}
.copyright {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	margin: 0px;
	display: inline-block;
	position: relative;
	top: 30px;
	font-size: 12px;
	word-spacing: 4px;
}
.nav-menu-button {
	color: white;
}