body{
  margin: 0%;
	padding: 0%;
	height: auto;
	background-color: black;
}
html {
	height: 100%;
}
/* Main header css styles */
.header-group {
	top: 0px;
	/* height: auto;
	position: sticky; */
	box-shadow: 0px 0px 10px black;
}
.header {
  background-image: linear-gradient(to bottom right, #003250 , #0098F2 );
  height: 90px;
  position:sticky;
	top: 0px;
	box-shadow: 0px 0px 10px black;
}
.header-logo {
  height: 90px;
  position: absolute;
  top: 5px;
  left: 35px;
}
.button-group {
  position: absolute;
  right: 30px;
  top: 24px;
  width: 210px;
	height: auto;
}
.register-button {
	background-color: #404040;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:14px 11px;
	text-decoration:none;
  border: none;
  width: 100px;
}
.login-button:hover {
	background-color:black;
}
.login-button {
	background-color: #404040;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:14px 11px;
	text-decoration:none;
  border: none;
  width: 100px;
}
.register-button:hover {
	background-color:black;
}
/* Navigation bar */

.nav-bar {
	height: auto;
	background-color: #292929;
}
.nav-buttons {
	display: block;
}
.nav-button {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	height: auto;
	text-align: center;
	width: 9%;
	height: auto;
}
.nav-menu-button {
	color: white;
}
.nav-button:hover{
	background-image: black;
}
.nav-button:active {
	background-color:lightblue ;
}
.nav-button-name {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1vw;
}
a {
	text-decoration: none;
}
/* Dropdown in navigation bar */
.dropdown {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	height: auto;
	text-align: center;
	width: 9%;
	height: auto;
}
.dropdown-button-name {
	font-size: 1vw;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
}
.dropdown-content {
	/* Change display to none for production */
	display: none;
	position: absolute;
	width: 9%;
}
.dropdown-content a {
	font-size: 1vw;
	color: white;
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	
}
/* Dropdown functions */
.dropdown-content-selection{
	background: #292929;
}
.dropdown-content-selection:hover {
	background-color: aqua;
}
.dropdown-content a:hover {
	color: black;
}


.dropdown:hover {
	background-color: aqua;
}
.dropdown:hover .dropdown-button-name {
	color: black;
}
.dropdown:hover .dropdown-content{
	display: block;
}

@media only screen and (max-width:1024px){
	.nav-bar{
		text-align: center;
	}
	.nav-button {
		width: 33%
	}
	.nav-button-name{
		font-size: 4vw
	}
	.dropdown{
		width: 30%;
	}
	.dropdown-button-name{
		font-size: 4vw;
	}
	.dropdown-content {
		width: 30%;
	}
	.dropdown-content a{
		font-size: 4vw;
	}
}

/* Main body css styles */
.logged-group {
  position: absolute;
  right: 30px;
  top: 24px;
  width: auto;
	height: auto;
}
.Logged-in{
	color: white;
	font-size: 20px;
	margin: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.main-body {
	display: block;
	text-align: center;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../assets/background_home.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: auto;
}
.body-content {
	display: block;
	width: 100%;
	padding-top: 30vh;
}
.body-text-header {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 70px;
	margin-top: 0px;
}
.body-text-paragraph {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 35px;
}
.menu-button {
	background-color: #404040;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:20px 5px;
	text-decoration:none;
  border: none;
  width: 150px;
}
.menu-button:hover {
	background-color:black;
}
/* Footer CSS styles */
.footer {
	display: block;
	height: 100px;
	width: 100%;
	background-color: #292929;
	position: absolute;
	text-align: center;
	box-shadow: 0px 0px 10px black;
}
.logo-row {
	word-spacing: 25px;
	position: relative;
	top: 24px;
}
.social-image {
	width: auto;
	height: auto;
}
.copyright {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	margin: 0px;
	display: inline-block;
	position: relative;
	top: 30px;
	font-size: 12px;
	word-spacing: 4px;
}


@media only screen and (max-width:600px){
	.header {
		height: auto;
		display: static;
		padding-bottom: 4px;
		padding-top: 4px;
	}
	.header-logo {
		height: 90px;
		position: static;
		display: block;
		margin: auto;
	}
	.button-group{
		position: static;
		display: block;
		margin: auto;
		margin-bottom: 10px;
		height: auto;
	}
	.body-content {
		padding-top: 18vh;
	}
	.body-text-header {
		font-family: Arial, Helvetica, sans-serif;
		color: white;
		font-size: 40px;
		margin-top: 0px;
	}
	.body-text-paragraph {
		font-family: Arial, Helvetica, sans-serif;
		color: white;
		font-size: 20px;
	}
}

