body{
  margin: 0%;
	padding: 0%;
	height: auto;
	background-color: black;
	/* background-image: url("../assets/background_home.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: auto; */
}
html {
	height: 100%;
}
/* Main header css styles */
.header {
  background-image: linear-gradient(to bottom right, #003250 , #0098F2 );
  height: 90px;
  position:sticky;
	top: 0px;
	box-shadow: 0px 0px 10px black;
}
.header-logo {
  height: 90px;
  position: absolute;
  top: 5px;
  left: 35px;
}
.button-group {
  position: absolute;
  right: 30px;
  top: 24px;
  width: 210px;
	height: auto;
}
.register-button {
	background-color: #404040;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:14px 11px;
	text-decoration:none;
  border: none;
  width: 100px;
}
.login-button:hover {
	background-color:black;
}
.login-button {
	background-color: #404040;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:14px 11px;
	text-decoration:none;
  border: none;
  width: 100px;
}
.register-button:hover {
	background-color:black;
}
/* Main body css styles */
.main-body {
	display: block;
	text-align: center;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../assets/background_home.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}
.body-content {
	display: block;
	width: 100%;
	padding-top: 30vh;
}
.body-text-header {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 70px;
	margin-top: 0px;
}
.body-text-paragraph {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 35px;
}
.menu-button {
	background-color: #404040;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:20px 5px;
	text-decoration:none;
  border: none;
  width: 150px;
}
/* Footer CSS styles */
.footer {
	display: block;
	height: 100px;
	width: 100%;
	background-color: #292929;
	position: absolute;
	text-align: center;
	box-shadow: 0px 0px 10px black;
}
.logo-row {
	word-spacing: 25px;
	position: relative;
	top: 24px;
}
.social-image {
	width: auto;
	height: auto;
}
.copyright {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	margin: 0px;
	display: inline-block;
	position: relative;
	top: 30px;
	font-size: 12px;
	word-spacing: 4px;
}


@media only screen and (max-width:600px){
	.header {
		height: auto;
		display: static;
		padding-bottom: 4px;
		padding-top: 4px;
	}
	.header-logo {
		height: 90px;
		position: static;
		display: block;
		margin: auto;
	}
	.button-group{
		position: static;
		display: block;
		margin: auto;
		margin-bottom: 10px;
	}
	.body-text-header {
		font-family: Arial, Helvetica, sans-serif;
		color: white;
		font-size: 40px;
		margin-top: 0px;
	}
	.body-text-paragraph {
		font-family: Arial, Helvetica, sans-serif;
		color: white;
		font-size: 20px;
	}
}