.back-button {
  display: inline;
  position: relative;
  left: 20px;
  top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.main-register-block {
  text-align: center;
  margin-top: 10vh;
}
.register-header {
  margin-bottom: 30px;
}
.register-fill {
  display: block;
  width: 55%;
  margin: auto;
  text-align: left;
  padding-bottom: 9vh;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}

label, select, option, input  {
  font-family: Arial, Helvetica, sans-serif;
}
.text-label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.city-header {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px
}
.city-selection {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px
}

.name-group {
  border: 0px;
  border-bottom: 2px solid black;
  outline: 0px;
  width: 100%;
  font-size: 20px;
}
.email-group {
  border: 0px;
  border-bottom: 2px solid black;
  outline: 0px;
  width: 100%;
  font-size: 20px;
}
.password-group {
  border: 0px;
  border-bottom: 2px solid black;
  outline: 0px;
  width: 100%;
  font-size: 20px;
}
.submit-button {
  background-color: black;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:15px 0px;
	text-decoration:none;
  border: none;
  width: 150px;
  display: block;
  margin: auto;
  margin-top: 40px;
}
.city-selection {
  display: block;
  width: 100%;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border-radius: 5px;
}
.gender-div {
  margin-bottom: 18px;
}
/* Navigation bar */

.nav-bar {
	height: auto;
	background-color: #292929;
}
.nav-buttons {
	display: block;
}
.nav-button {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	height: auto;
	text-align: center;
	width: 9%;
	height: auto;
}
.nav-button:hover{
	background-image: black;
}
.nav-button:active {
	background-color:lightblue ;
}
.nav-button-name {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1vw;
}
a {
	text-decoration: none;
}
/* Dropdown in navigation bar */
.dropdown {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	height: auto;
	text-align: center;
	width: 9%;
	height: auto;
}
.dropdown-button-name {
	font-size: 1vw;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
}
.dropdown-content {
	/* Change display to none for production */
	display: none;
	position: absolute;
	width: 9%;
}
.dropdown-content a {
	font-size: 1vw;
	color: white;
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	
}
/* Dropdown functions */
.dropdown-content-selection{
	background: #292929;
}
.dropdown-content-selection:hover {
	background-color: aqua;
}
.dropdown-content a:hover {
	color: black;
}


.dropdown:hover {
	background-color: aqua;
}
.dropdown:hover .dropdown-button-name {
	color: black;
}
.dropdown:hover .dropdown-content{
	display: block;
}

@media only screen and (max-width:1024px){
	.nav-bar{
		text-align: center;
	}
	.nav-button {
		width: 33%
	}
	.nav-button-name{
		font-size: 4vw
	}
	.dropdown{
		width: 30%;
	}
	.dropdown-button-name{
		font-size: 4vw;
	}
	.dropdown-content {
		width: 30%;
	}
	.dropdown-content a{
		font-size: 4vw;
	}
}